// Place all the styles related to the api/accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

// account-form styling

.new-trade-acct-header {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.new-acct-container {
    width: 100%;
    max-width: 380px;
    margin: auto;
}

.new-trade-acct-nickname-head, .new-trade-acct-bal-head{
    float: left;
    // margin-left: 40%;
}

.new-trade-acct-nickname-head {
    margin-top: 10px;
}

.new-trade-acct-bal-head {
    margin-top: 10px;
}
.new-trade-acct-nickname-input, .new-trade-acct-bal-input{
    width: 100%;
    box-shadow: none;
    height: 44px;
    border: 1px solid #d4d4d4;
    padding: .25rem .75rem;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    // margin-left: 40%;
}

.create-button {
    // align-items: center;
    // // border-radius: 5px;
    // max-width: 140px;
    // padding: 10px;
    // padding-left: 20px;
    // padding-right: 20px;
    // border-width: 1px;
    // cursor: pointer;
    // margin-left: 35%;
    // background-color: rgba(48,56,76,255);
    // color: white;
    align-items: center;
    margin-left: 32%;
    border: none;
    font-size: 18px;
    width: 12rem;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    background-color: #323b55;
}



// .cancel-button:hover {
//     background-image: linear-gradient(#d1d1d1,#999999);
// }

.create-button:hover {
    // background-image: linear-gradient(#d8d7c8, #cfbc0a);
    background-color: #095d98;
    transition: .5s;
}

// .cancel-button {
//     margin-left: 40%;
//     margin-right: 2%;
//     margin-top: 1%;
//     background-image: linear-gradient(#fbfbfb,#cac9c9);
// }

// .create-button {
//     margin-left: 35%;
//     // margin-right: 2%;
//     // margin-top: -3%;
//     // float: left;
//     background-color: #005f83;
// }
