@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



.edit-acct-header {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: .5%;
}

.select-n-button-edit {
    text-align: center;
}

.search-acct-edit {
    margin-left: 1.5%
}

.edit-acct-container {
    width: 100%;
    max-width: 380px;
    margin: auto;
}

.select-acct-edit {
    margin-bottom: 10px;
}

.edit-acct-name-input, .edit-acct-bal-input {
    width: 100%;
    box-shadow: none;
    height: 44px;
    border: 1px solid #d4d4d4;
    padding: .25rem .75rem;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.edit-bal-h1 {
    margin-top: 10px;
}

.delete-acct, .submit-edit {
    align-items: center;
    margin-left: 25%;
    border: none;
    font-size: 18px;
    width: 12rem;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
}

.submit-edit {
    background-color: #323b55;
    margin-top: 30px;
}

.delete-acct {
    background-color: #960e21;
    margin-top: 10px;
}

.submit-edit:hover, .yes-del-acct:hover {
    background-color: #3a5ab8;
    transition: .5s;
}

.delete-acct:hover {
    background-color: #bd1d33;
    transition: .5s;
}

.delete-acct-check {
    // display: inline-block;
    // float: left;
    margin-left: auto;
    margin-right: auto;
    width: 21%;
    margin-top: 17px;
    font-family: 'Playfair Display', serif;
    border: 1px solid gray;
    background-color: #efefef;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.yes-del-acct {
    margin-right: 40px;
    margin-top: 10px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #323b55;
    cursor: pointer;
}

.no-del-acct {
    margin-left: 40px;
}

.delete-success, .edit-success {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.edit-success-container {
    margin-bottom: 10px;
    border: 1px solid #029800;
    display: inline-block;
    padding: 10px;
    border-radius: 13px;
    background-color: #e0ffe0;
    color: green;
}

.edit-acct-name-err, .edit-acct-bal-err {
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 13px;
    background-color: #ffcbcb;
    max-width: 300px;
    color: #ff1c1c;
}

.delete-success {
    padding: 5px;
    border-radius: 13px;
    background-color: #ffcbcb;
    max-width: 238px;
    color: #ff1c1c;
    margin-left: 42%;
    border: 1px solid #ff3535;
}