.pt-footer {
    // background-image: linear-gradient(to bottom, rgba(48,56,76,255), rgba(34,36,48,255));
    // color: white;
    width: 700px;
    margin-left: 27%;
    display: flex;
    position: fixed;
    bottom: 0px;
    font-family: 'Playfair Display', serif;
    left: 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 10px;
    height: 20px;
}

// element.style {
//     display: -webkit-inline-box;
// }

.footer-quotes {
    display: inline-flex;
    font-size: 15px;
    // margin-top: -5px;
}

.links {
    margin-left: auto;
    border-left: 1px solid gray;
    padding-left: 10px;
}

.footer-h1, .footer-pos-change, .footer-neg-change, .footer-no-change {
    display: inline;
}

.footer-pos-change, .footer-neg-change, .footer-no-change {
    padding-left: 2px;
}

.footer-h1 {
    padding-left: 7px;
}

.footer-pos-change {
    color: green;
}

.footer-neg-change {
    color: red;
}

.footer-image {
    width: 25px;
    height: 25px;
    padding-left: 10px;
}

.footer-input {
    width: 100px;
    margin-right: 10px;
}

.footer-button {
    background-color: #147eac;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
    border-radius: 4px;
}

.footer-button-n-input {
    border-right: 1px solid gray;
    margin-top: -2px;
}