// Place all the styles related to the api/positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.select-acct-head-show {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: .5%;
}

h1.select-acct-head-show + .select-n-button-acct-show{
    text-align: center;
}

.search-account {
    margin-left: 1.5%;
}

.render-pos-table {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px #cacaca;
}

.cash-head-pos, .cash-amt-pos, .no-pos-warning, .acct-view-no-acct{
    text-align: center;
}

.render-pos-table, .pos-table-head {
    border-top: 3px solid rgb(117, 117, 117);
    border-bottom: 3px solid rgb(117, 117, 117);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
}

.cash-head-pos {
    font-size: 27px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-decoration: underline;
}

.cash-amt-pos {
    font-size: 23px;
    margin-bottom: 5px;
}

.acct-view-no-acct {
    font-size: 23px;
    margin-top: 15px;
}

.no-pos-warning {
    font-size: 20px;
}

.select-acct-show{
    width: 150px;
    border: 1px solid #ccc;
}
// .acct-show-option {

// }

.pos-table-data { 
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
