// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.login-head, .signup-head {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-head2, .signup-head2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1.5rem;
    color: blue
}

.login-desc, .signup-desc {
    font-size: 1.3rem;
}

.login-desc, .login-uname, .login-pw, .signup-desc, .signup-uname, .signup-pw,
.signup-email {
    font-family: 'Playfair Display', serif;
}


.login-desc, .login-uname, .login-uname-field, .login-pw, .login-pw-field,
.signup-desc, .signup-uname, .signup-uname-field, .signup-pw, .signup-pw-field,
.signup-email, .signup-email-field
{
    margin-left: 40%;
    margin-top: 10px;
}

.login-button, .signup-button, .guest-button {
    position: relative;
    left: 44%;
    margin-top: 10px;
    background-color: #323b55;
    border: none;
    font-size: 18px;
    width: 12rem;
    padding: 1rem;
    color: #fff;
}

.login-err {
    color: red;
    float:right;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
    width: 120px;
    background-color: rgba(210, 129, 145, .5);
    position: absolute;
    right: 500px;
    top: 225px;
}