// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.login-head, .signup-head {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-head2, .signup-head2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1.5rem;
    color: blue
}

.login-desc, .signup-desc {
    font-size: 1.3rem;
}

.login-or {
    text-align: center;
    margin-top: -23px;
    margin-left: 200px;
}

.login-redirect {
        margin-left: 5px;
}

.login-desc, .signup-desc, .signup-or, .signup-redirect, .login-or, .login-redirect{
    font-family: 'Playfair Display', serif;
}


.login-desc, .login-uname-field, .login-pw-field,
.signup-desc, .signup-uname-field, .signup-pw-field,
.signup-email-field
{
    margin-left: 40%;
    margin-top: 10px;
}
.login-uname-field, .login-pw-field, .signup-uname-field, .signup-pw-field,
.signup-email-field {
    width: 300px;
    box-shadow: none;
    height: 44px;
    border: 1px solid #d4d4d4;
    padding: .25rem .75rem;
}

.login-button, .signup-button, .guest-button {
    position: relative;
    left: 44%;
    margin-top: 10px;
    background-color: #323b55;
    border: none;
    font-size: 18px;
    width: 12rem;
    padding: 1rem;
    color: #fff;
}

.login-button, .signup-button{
    margin-top: 20px;
}
.err {
    color: #dc5050;
    text-align: center;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
    width: 120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(230, 187, 196, .5);

}