// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.login-head, .signup-head {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-head2, .signup-head2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1.5rem;
    color: blue
}

.login-desc, .signup-desc {
    font-size: 1.3rem;
}

.login-desc, .signup-desc{
    font-family: 'Playfair Display', serif;
}


.login-desc, .login-uname-field, .login-pw-field,
.signup-desc, .signup-uname-field, .signup-pw-field,
.signup-email-field
{
    margin-left: 40%;
    margin-top: 10px;
}

.login-button, .signup-button, .guest-button {
    position: relative;
    left: 44%;
    margin-top: 10px;
    background-color: #323b55;
    border: none;
    font-size: 18px;
    width: 12rem;
    padding: 1rem;
    color: #fff;
}

.err {
    color: #dc5050;
    // float:right;
    text-align: center;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(230, 187, 196, .5);
//     position: sticky;
//     right: 35%;
//     top: 39%;
}

// .login-err {
//     position: absolute;
//     right: 500px;
//     top: 225px;
// }

// .signup-err {

// }