@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Mukta&display=swap');

.sidebar-links{
    text-decoration: none;
    color: black;
    font-family: 'Markazi Text', serif;
    font-size: 25px;
    padding-left: 10px;
    // font-family: 'Mukta', sans-serif;
    width: 200px;
    border-bottom: solid #a7a7a7;
    border-width: 1.5px;
    cursor: pointer;
    max-width: 100%;
    display: block;
    height: 43px;
    line-height: 43px;
}

.sidebar-links:hover {
    // box-shadow: 5px 0 10px 1px rgb(217, 226, 249), -5px 0 10px 1px rgb(217, 226, 249);
    background-color: rgb(217, 226, 249);
    transition: .5s;
    height: 50px;
    line-height: 50px;
    // rgb(217, 226, 249);
}

.sidebar {
    width: 1px;
    color: white;
    float: left;
}

.sidebar-li {
  display: inline-block;
  border-right: 1px solid gray;
}

#header {
    position: absolute;
    width: 210px;
    border-right: solid #a7a7a7;
    border-width: 1px;
  }
  #header .pro-sidebar {
    height: 100vh;
  }
  #header .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    // top: 55px;
    cursor: pointer;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
    background-color: #f7f7f7;
  }
  #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  #header .pro-sidebar-inner {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
  }
  #header .logo {
    padding: 20px;
  }
  