// Place all the styles related to the api/trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

// Trades Show:

.symbol, .select-acct-head, .select-action-head, .quantity-head {
    font-family: 'Playfair Display', serif;
}

.symbol {
    margin-left: 10px;
    margin-bottom: -17px;
}

.ticker-input{
    border-radius: 2px;
    border-color: #bdbbbb;
    margin-left: 10px;
}

.search-ticker{
    border-radius: 5px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px;
    cursor: pointer;
    background-image: linear-gradient(#fbfbfb, #cac9c9);
    margin-bottom: 20px;
    margin-left: 5px;
}

.search-ticker:hover {
    background-image: linear-gradient(#d1d1d1,#999999);
}

.select-acct-head {
    margin-left: 10px;
    margin-right: 7px;
}

.select-action-head, .quantity-head {
    margin-left: 50px;
    margin-right: 7px;
}

#chart {
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.quantity-input {
    border-radius: 2px;
    border-color: #bdbbbb;
    max-width: 70px;
    margin-right: 50px;
}

.place-trade-button {
    border-radius: 5px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px;
    cursor: pointer;
    background-image: linear-gradient(#008a00, #019201);
    border-color: #2d7121;
    color: whitesmoke;
}

.place-trade-button:hover {
    background-image: linear-gradient(#008a00, #006600);
}

.back-button {
    border-radius: 5px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px;
    cursor: pointer;
    background-image: linear-gradient(#fbfbfb, #cac9c9);
    margin-bottom: 10px;
    margin-left: 5px;
}
.back-button:hover{
    background-image: linear-gradient(#d1d1d1,#999999);
}

.trade-err {
    color: #dc5050;
    background-color: rgba(230, 187, 196, .5);
    text-align: center;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
    width: 120px;
    margin-left: 25%;
    margin-top: -5%;
}

.trade-placed-success {
    color: #329401;
    background-color: rgba(192, 236, 193, .5);
    text-align: center;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
    width: 120px;
    margin-left: 55%;
    margin-top: -3%;
}


// Trade History:

.select-acct-head-hist {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: .5%;
}

.select-acct-head-hist + .select-n-button-hist{
    text-align: center;
}

.search-acct {
    margin-left: 1.5%;
}

.render-trd-table {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px #cacaca;
}

.no-acct-trd-hist {
    text-align: center;
}

.render-trd-table, .trd-table-head {
    border-top: 3px solid rgb(117, 117, 117);
    border-bottom: 3px solid rgb(117, 117, 117);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
}

.select-hist {
    margin-bottom: 20px;
}

.pos-table-data-hist {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid gray;
}