// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.welcome {
    width: 100%;
    // display:inline-block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    text-shadow: black;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.logout {
    float: inherit;
    position: absolute;
    top: 3px;
    right: 30px;
    font-size: 18px;
    width: 100px;
    padding: 10px;
    background-color: #a62436;
    color: white;
    cursor: pointer;
}

.logout:hover {
    background-color: #bd1d33;
    transition: .5s;
}

.table-headers {
    font-size: 17px;
    font-weight: bold;
}

.acct-table, .table-headers, .table-data {
    border-top: 3px solid rgb(117, 117, 117);
    border-bottom: 3px solid rgb(117, 117, 117);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
}

.acct-table {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px #cacaca;
}

.trade-redirect, .create-acct{
    align-items: center;
    border-radius: 5px;
    max-width: 140px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#fbfbfb,#cac9c9);
    border-width: 1px;
    cursor: pointer;
};

.trade-redirect {
    margin-left: 55%;
    margin-right: 2%;
    margin-top: -3.25%;
    float: left;
}

.create-acct {
    margin-left: 40%;
    margin-right: 2%;
    margin-top: 1%;
};

.trade-redirect:hover, .create-acct:hover {
    background-image: linear-gradient(#d1d1d1,#999999);
}

.news-container {
    margin-left: 25%;
    /* border: 1px solid gray; */
    max-width: 808px;
    margin-top: 3%;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    box-shadow: 0px 0px 15px #969696;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 335px;
}

.market-news {
    text-align: center;
    font-size: 29px;
}

.article-pic {
    max-width: 135px;
    margin-left: auto;
    margin-right: 0px;
}

.article-link {
    text-decoration: none;
}

.ind-article {
    border-bottom: 1px solid gray;
}

.ind-article:hover {
    background-color: #d2cece;
    transition: .5s;
}

.article-info-n-pic, .article-header {
    display: flex;
}

.article-info-n-pic {
    color: black;
    margin-bottom: 10px;

}

// .article-link {
//     max-width: 597px;
//     max-height: 69%;
//     display: block;
//     height: 100%;
//     position: absolute;
//     background-color: transparent;
//     width: 100%;
//     border: dashed;
// }



.article-header {
    font-size: 15px;
    color: gray;
    margin-bottom: 5px;
}

.article-source {
    margin-right: 20px;
}

.article-headline {
    margin-bottom: 10px;
    font-family: arial;
    font-weight: 600;
    font-size: 20px;
}

.article-summary {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 650px;
}