// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.welcome {
    width: 100%;
    display:inline-block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    text-shadow: black;
    font-size: 40px;
}

.logout {
    float: inherit;
    position: absolute;
    top: 3px;
    right: 30px;
    font-size: 18px;
    width: 100px;
    padding: 10px;
    background-color: #a62436;
}

.logout-txt {
    color: white;
}