// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.welcome {
    width: 100%;
    display:inline-block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    text-shadow: black;
    font-size: 40px;
}

.logout {
    float: inherit;
    position: absolute;
    top: 3px;
    right: 30px;
    font-size: 18px;
    width: 100px;
    padding: 10px;
    background-color: #a62436;
    color: white;
    cursor: pointer;
}

.table-headers {
    font-size: 17px;
    font-weight: bold;
}

.acct-table, .table-headers, .table-data {
    border-top: 3px solid rgb(117, 117, 117);
    border-bottom: 3px solid rgb(117, 117, 117);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
}

.acct-table {
    margin-left: auto;
    margin-right: auto;
}

.trade-redirect, .create-acct{
    align-items: center;
    border-radius: 5px;
    max-width: 140px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#fbfbfb,#cac9c9);
    border-width: 1px;
    cursor: pointer;
};
.trade-redirect {
    margin-left: 55%;
    margin-right: 2%;
    margin-top: -3.25%;
    float: left;
}
.create-acct {
    margin-left: 40%;
    margin-right: 2%;
    margin-top: 1%;
};

.trade-redirect:hover, .create-acct:hover {
    background-image: linear-gradient(#d1d1d1,#999999);
}