/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.logo{
    margin-left: 10px;
    margin-right: 10px;
    max-height: 40px;
    max-width: 35px;
}
/* .home-pic-container {
    display: grid;
    height: 100%;
    width: 100%;
} */

/* .home-pic {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
} */

.home-pic {
    max-height: 100%;
    max-width: 100%;
    display: flex;
}
.homepage {
  overflow-y: hidden;
}
/* .homepage {
    background-image: url('../images/exchange.jpg');
    max-height: 100%;
} */

.home-button {
    float: inherit;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 52px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.pt-header {
    background-image: linear-gradient(to bottom, rgba(48,56,76,255), rgba(34,36,48,255));
    color: white;
    width: 100%;
    display:inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    left: 10px;
}

.home-block .about {
    text-align: center;
}

.about {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-top: 20px;
}

.description {
    color: white;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    max-width:500px;
    word-wrap:break-word;
    margin-bottom: 10px;
    /* overflow-y: scroll; */
    max-height: 150px;
}

.home-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    background-color: rgba(2,16,46,255);
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 105px;
    border: none;
    border-radius: 5px;
}

.home-create {
    margin-top: 10px;
}
.home-create:hover, .home-login:hover{
    background-color: rgba(51,58,86,255);
    transition: .5s;
}

.home-create, .home-login{
    background-color: #a62436;
    color: #fff;
    border: none;
    font-size: 18px;
    width: 18rem;
    padding: 1rem;
    position: absolute;
    left: 25%;
    cursor: pointer;
}

.home-login{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-login-txt, .home-create-txt {
    color: white
}

.home-links {
    width: 223px;
    display: flex;
    position: absolute;
    top: 5px;
    font-family: 'Playfair Display', serif;
    right: 10px;
    padding: 10px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.home-footer-image {
    width: 25px;
    height: 25px;
    padding-left: 25px;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}